

body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 15px;
}

.profile {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

section {
    padding: 30px;
}

.card {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100%;
}

.gallery {
    width: 150px;
    margin: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

/* DARK MODE */
.dark-mode {
    background: #222;
    color: white;
}

.dark-mode .card {
    background: #333;
}
